

@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron">
        <h1>Contacto</h1>
        <p class="lead">
            Los robles #3842
            Concepción
        </p>
        <p><a href="~/Content/maps.jpg" class="btn btn-primary btn-lg"> Ir a Maps</a></p>
        <p><a href="~/Content/contact.jpg" class="btn btn-primary btn-lg"> Wsp - Email</a></p>
    </div>
</center>